[Unit]
Description=Redis
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill redis1
ExecStartPre=-/usr/bin/docker rm redis1
ExecStartPre=/usr/bin/docker pull bstockus/redis:v1
ExecStart=/usr/bin/docker run --name redis1 -p 6379:6379 bstockus/redis:v1 redis-server
ExecStop=/usr/bin/docker stop redis1

[X-Fleet]
MachineMetadata=node=db-redis
