<div class="form-left-col">
	
	<label>Id:</label>
    <input id="wineId" name="id" type="text" value="<%= id %>" disabled />

    <label>Title:</label>
    <input type="text" id="title" name="title" value="<%= title %>" required/>

    <label>Class:</label>
    <input type="text" id="class" name="class" value="<%= klass %>"/>

    <label>Description:</label>
    <input type="text" id="description" name="description" value="<%= description %>"/>

    <label>Due Date:</label>
    <input type="text" id="due_date" name="due_date"  value="<%= due_date %>"/>

    <button class="save">Save</button>
    <button class="delete">Delete</button>
</div>

<div class="form-right-col">
    
</div>