<form>
  <div class="form-group">
    <label>Id:</label>
    <input class="form-control" id="assignId" name="id" type="text" value="<%= id %>" disabled />
  </div>

  <div class="form-group">
    <label>Title:</label>
    <input class="form-control" type="text" id="title" name="title" value="<%= title %>" required/>
  </div>

  <div class="form-group">
    <label>Class:</label>
    <input class="form-control" type="text" id="class" name="class" value="<%= klass %>"/>
  </div>

  <div class="form-group">
    <label>Description:</label>
    <input class="form-control" type="text" id="description" name="description" value="<%= description %>"/>
  </div>

  <div class="form-group">
    <label>Due Date:</label>
    <input class="form-control" type="text" id="due_date" name="due_date"  value="<%= due_date %>"/>
  </div>

  <button type="button" class="btn btn-primary save">Save</button>
  <button type="button" class="btn btn-danger delete">Delete</button>
</form>